<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    
    {{!-- <link rel='stylesheet' crossorigin="anonymous"  media='screen' href='main.css'> --}}
    <link rel='stylesheet' type = 'text/css'media='screen' href='/semantic/dist/semantic.css'>
       <link rel='stylesheet' type = 'text/css'media='screen' href='/fullcalendar-api/lib/main.min.css'>
    <script type ='text/javascript' src='/javascript/jquery.js'></script>
    <script type ='text/javascript' src='/javascript/moment.js'></script>
    <script type ='text/javascript' src='/javascript/moment.js'></script>
    <script type ='text/javascript' src='/fullcalendar-api/lib/main.min.js'></script>
    <script type ='text/javascript'src='/semantic/dist/semantic.js'></script>
</head>
<body>
    <nav class="ui secondary pointing menu">
        <a class="item active">Appointment</a>
        <a class="item" href ="/requestapp">Requests</a>
        <div class="right menu" ><a class="ui item" href = "/logout">Logout</a></div>
    </nav>
    <div class = "ui centered padded grid">
        <div class="ui card ten wide column" style = "height: 550px; z-index: 2">
            <div class="ui content"><div id="timetable"></div></div>
        </div>
        <div class="ui card four wide column" style = "height: 550px;">
            <div class="ui content list">
                    <div class="header">Doctors
                    <span onclick="docform.showAddForm()"><i class="right link plus icon" ></i></span>
                    <span onclick="docform.showEditForm()"><i class="right samll link write icon"></i></span>
                    </div>
                   {{#each doctor}}
                        <div class="ui divider item" id = "{{name}}"><a>{{name}}</a></div>
                   {{/each}}
            </div>
            <div class="ui content list">
                <div class="header">Process
                    <span onclick="procform.showAddForm()"><i class="right link plus icon"></i></span>
                    <span onclick="procform.showEditForm()"><i class="right samll link write icon"></i></span>
                </div>
                    {{#each process}}
                        <div class="ui divider item" id="{{name}}"><a>{{name}}</a></div>
                    {{/each}}
            </div>
        </div>
    </div>
</body>

<form class="ui  modal small app-form form" id = 'app-form' onsubmit="return false" >
    <i class="close icon"></i>
    <div class="header">Appointment</div>

        <div class="ui very padded grid">
            <div class="six wide column">
                <input type = "hidden" id = "app-id" name = "id" value = -1 /> 
                <div class="required field" id="fieldLastName">
                    <label>Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                </div>
                <div class="required field" id="fieldFirstName">
                    <label>First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First Name">
                </div>
                <div class="required field" id="fieldDateCalendar">
                        <label>Date</label>
                            <div class="ui calendar fluid input left icon">
                                <i id="calendaricon" class="calendar icon"></i>
                                <input type = "text" id="date" name="date"  placeholder="Date">
                            </div>
                    </div>
                    <div class="required field" id="fieldTime">
                        <label>Time</label>
                            <div class="ui time fluid input left icon">
                                <i id="calendaricon" class="time icon"></i>
                                <input type = "text" id="time" name="time" placeholder="Time">
                            </div>
                    </div>
            </div>

            <div class="ten wide column ui form">
                <div class="required field fieldDoctors" id = "selDoc">
                    <label>Doctor(s)</label>
                    <select multiple = "" name="doctor" class="ui fluid dropdown" multiple="" id="doctor">
                        {{#each doctor}}
                            <option value="{{_id}}-{{name}}">Dr. {{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="required field fieldProcedures">
                    <label>Procedure(s)</label>
                    <select name="process" class="ui fluid dropdown" multiple="" id="process">
                        {{#each process}}
                            <option value="{{_id}}-{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="field">
                    <label>Notes</label>
                    <textarea name ="notes" id="notes"></textarea>
                </div>

                <div class="ui grid"><div class="actions column">
                <div id = "add-app" class="ui positive right floated submit icon button very padded">
                    ADD</div>
                <div id = "save-app" class="ui positive right floated submit icon button very padded">
                    SAVE</div>
                <div id = "del-app"class="ui red deny button right submit floated very padded" >
                    DELETE</div>
                </div></div>

            </div>
        </div>
</form>


<form id="doc-form" class="ui small modal doc-form form" onsubmit = "return true">
    <i class="close icon"></i>
    <div class="header">Doctor</div>
        <div class="content">
            <div class="required field fieldDoctors" id = "editDoc">
                <label>Doctor</label>
                <select name="doctor" class="ui fluid dropdown" id="doctor-edit">
                      {{#each doctor}}
                            <option value="{{_id}}-{{name}}">Dr. {{name}}</option>
                        {{/each}}
                </select>
            </div>
            <div class="required field fieldName">
            <label>Name</label>
            <input type="text" name="name" id="docname" placeholder="Name">
            </div>
            <div class="ui grid"><div class="actions column">
            <div class="ui positive submit right floated icon button very padded" id="add-doc">
                ADD</div>
            <div class="ui positive submit right floated icon button very padded" id="edit-doc">
                SAVE</div>
            <div class="ui red deny right floated icon button very padded" id="del-doc">
                Delete</div>
            </div></div>
        </div>
</form>


<form id="proc-form" class="ui small modal proc-form form" onsubmit="return true">
    <i class="close icon"></i>
    <div class="header">Procedure</div>
        <div class="content">
            <div class="required field fieldProcedures">
                <label>Procedure</label>
                <select name="process" class="ui fluid dropdown" id="process-edit">
                     {{#each process}}
                            <option value="{{_id}}-{{name}}">{{name}}</option>
                        {{/each}}
                </select>
            </div>
            <div class="required field fieldName">
            <label>Name</label>
            <input type="text" name="name" id="procname" placeholder="Name">
            </div>
            <div class="ui grid"><div class="actions column">
            <div class="ui positive right floated icon button very padded" id="add-proc">
                ADD</div>
            <div class="ui positive right floated icon button very padded" id="edit-proc">
                SAVE</div>
            <div class="ui red deny right floated icon button very padded" id="del-proc">
                Delete</div>
            </div></div>
        </div>
</form>


</html>

<script type ='text/javascript' src='/init.js'></script> 
<script type ='text/javascript' src='/AJAXCALLS.js'></script> 
<script type ='text/javascript' src='/Doctor.js'></script> 
<script type ='text/javascript' src='/Process.js'></script> 
<script type ='text/javascript' src='/Appointment.js'></script> 
<script type ='text/javascript' src='/TimeGrid.js'></script> 
<script type ='text/javascript' src='/Secretary.js'></script>

<script>

function value_changed(){
    console.log("chaned")
}

function check_available(date, mode){
    let d2 = new Date(date)
    /*return dates.some(function(el) {
        return ! (el === d2);
    }); */
    return false
}
function isDisabled(date, mode){
    let dt = moment(new Date(date))
    let hr = dt.hours()
    //always +1 month sa Date object
    //console.log(d2.getMonth())


    /*
    return dates.some(function(el) {
        console.log(el)
        return  (el === d2);
    });*/ 
    return false
}

$('.ui.calendar').calendar({
  monthFirst: false,
  type: 'date',
  formatter: {
    date: function (date, settings) {
      if (!date) return '';
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();
      return year + '-' + month + '-' + day;
    }
  },
   minDate: new Date(moment().add(1,'days')),
   onChange: value_changed,
   isDisabled: isDisabled,
});

$('.ui.time').calendar({
   type: 'time',
   ampm: true,
   onChange: value_changed,
   isDisabled: isDisabled,
   disableMinute: true,
   minDate: new Date(moment('7:00', 'HH:mm')),     
   maxDate: new Date(moment('18:00', 'HH:mm')),
});


</script>