<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
         <link rel='stylesheet' type = 'text/css'media='screen' href='/semantic/dist/semantic.css'>
        <link rel='stylesheet' type = 'text/css'media='screen' href='/fullcalendar-api/lib/main.min.css'>
        <script type ='text/javascript' src='/javascript/jquery.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/fullcalendar-api/lib/main.min.js'></script>
        <script type ='text/javascript'src='/semantic/dist/semantic.js'></script>

    </head>

    <style>
        .ui.cards { display: inline-block; overflow-x: scroll; }
    </style>
<body>
    <nav class="ui secondary pointing menu">
        <a class="item active">Appointments</a>
        <a href = "/request" class="item">Requests</a>
         <a href = "/history" class="item">History</a>
        <div class="right menu"><a href = "/logout" class="ui item">Logout</a></div>
    </nav>
    
    <div class="ui centered">
        <div class="ui container cards sixteen column grid centered">

           {{#each appointment}}
              <div class="ui card eight wide column">
                <div>
                
                {{#ifeq status "approved"}}
                <span class="ui top blue attached label">
                     <span  id = "status" class="ui">
                         upcoming |
                    </span>
                    <span class = 'datetime' id = "datetime">{{date}}@{{time}} </span>
                 </span>
                 
                {{/ifeq}}

                 {{#ifeq status "pending"}}
                <span class="ui top gray attached label">
                     <span  id = "status" class="ui">
                         pending |
                    </span>
                    <span class = 'datetime' id = "datetime">{{date}}@{{time}} </span>
                 </span>
                {{/ifeq}}

                 {{#ifeq status "cancelled"}}
                <span class="ui top red attached label">
                     <span  id = "status" class="ui">
                         cancelled |
                    </span>
                    <span class = 'datetime' id = "datetime">{{date}}@{{time}} </span>
                 </span>
                {{/ifeq}}

                {{#ifeq status "approved"}}
                    <a style = "color: blue" class="ui icon right floated white" onclick="return cancel(this)" name = "{{_id}}"> 
                    <i class="minus icon"></i>cancel
                    </a>
                {{/ifeq}}

                {{#ifeq status "pending"}}
                    <a class="ui icon right floated white" onclick="return cancel(this)" name = "{{_id}}"> 
                    <i class="minus icon"></i>cancel
                    </a>
                {{/ifeq}}

                 {{#ifeq status "cancelled"}}
                    <a style = "color: red" class="ui icon right floated white" onclick="return remove(this)" name = "{{_id}}"> 
                    <i class="trash icon"></i>remove
                    </a>
                {{/ifeq}}
               
                </div>
                <br>
                <div class="content">
                
                    <span id ="processes" style = "color: steelblue;" class="header">
                     {{#each process}}
                        {{name}}, 
                    {{/each}}
                    </span>   
                   
                  <div id = "doctors"class = "meta"><b>
                      {{#each doctor}}
                        Dr. {{name}}
                      {{/each}}
                     </b></div> 

                    {{#if notes}}
                      <div id = "notes"class = "description"><b>
                       Notes: {{notes}}
                     </b></div> 
                    {{/if}}

                     
                </div>
              </div>
           {{/each}}
        </div>
    </div>
</body>
</html>

<script>
const format1 = "YYYY-MM-d@HH:mm:ss"
const format2 = "MMM-d-YYY@hh:mm a"
const datetimes = $(".datetime")

for(let i=0; i<datetimes.length; i++){
    let temp = moment(datetimes[i].innerHTML,  'YYYY-MM-DD@HH:mm')
    console.log(temp)
    datetimes[i].innerHTML = `<b> ${temp.format('MMM. DD, YYYY')}</b> <span> | ${temp.format('hh:mm A')} <span>`
} 

function cancel(data){
    console.log(data.name)
    $.post("/cancelapp", {_id: data.name, status: "cancelled"})
    .always((res)=>{ console.log('client recieving data'); 
               console.log(res.responseJSON); 
               window.location.reload(true);
               /*callback(data)*/ })
    .fail((xhr, status,err)=>{ console.log(err); })

    return false;
}

function remove(data){
    console.log(data.name)
    $.post("/deleteapp", {_id: data.name})
    .always((res)=>{ console.log('client recieving data'); 
               console.log(res.responseJSON); 
               window.location.reload(true);
               /*callback(data)*/ })
    .fail((xhr, status,err)=>{ console.log(err); })

    return false;
}



</script>

