<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
         <link rel='stylesheet' type = 'text/css'media='screen' href='/semantic/dist/semantic.css'>
        <link rel='stylesheet' type = 'text/css'media='screen' href='/fullcalendar-api/lib/main.min.css'>
        <script type ='text/javascript' src='/javascript/jquery.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/javascript/moment.js'></script>
        <script type ='text/javascript' src='/fullcalendar-api/lib/main.min.js'></script>
        <script type ='text/javascript'src='/semantic/dist/semantic.js'></script>

    </head>

    <style>
        .ui.cards { display: inline-block; overflow-x: scroll; }
    </style>
<body>
    <nav class="ui secondary pointing menu">
        <a class="item active">Appointments</a>
        <a href = "/request" class="item">Requests</a>
         <a href = "/history" class="item">History</a>
        <div class="right menu"><a href = "/logout" class="ui item">Logout</a></div>
    </nav>
    
    <div class="ui centered">
        <div class="ui container cards sixteen column grid centered">

           {{#each appointment}}
              <div class="ui card eight wide column">
                <div>

                <span class="ui top teal attached label">
                    {{#ifeq status "approved"}}
                     <span class="ui orange label">
                         upcoming
                    </span>
                     {{/ifeq}}
                     {{#ifeq status "pending"}}
                     <span class="ui label">
                         pending
                    </span>
                     {{/ifeq}}
                     {{#ifeq status "cancelled"}}
                     <span class="ui red label">
                         cancelled
                    </span>
                     {{/ifeq}}

                    <span class = 'datetime'>{{date}}@{{time}} </span></span>
                
                </div>
                <br>
                <div class="content">
                
                    <span style = "color: teal;" class="header">
                     {{#each process}}
                        {{name}}, 
                    {{/each}}
                    </span>   
                   
                  <div class = "meta"><b>
                      {{#each doctor}}
                        Dr. {{name}}
                      {{/each}}
                     </b></div> 

                      {{#if notes}}
                      <div class = "description"><b>
                       Notes: {{notes}}
                     </b></div> 
                    {{/if}}
                     
                </div>
              </div>
           {{/each}}
        </div>
    </div>
</body>
</html>

<script>
const format1 = "YYYY-MM-d@HH:mm:ss"
const format2 = "MMM-d-YYY@hh:mm a"
const datetimes = $(".datetime")

for(let i=0; i<datetimes.length; i++){
    let temp = moment(datetimes[i].innerHTML,  'YYYY-MM-DD@HH:mm')
    console.log(temp)
    datetimes[i].innerHTML = `<b> ${temp.format('MMM. DD, YYYY')}</b> <span> | ${temp.format('hh:mm A')} <span>`
} 


</script>

