<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    
    {{!-- <link rel='stylesheet' crossorigin="anonymous"  media='screen' href='main.css'> --}}
    <link rel='stylesheet' type = 'text/css'media='screen' href='/semantic/dist/semantic.css'>
       <link rel='stylesheet' type = 'text/css'media='screen' href='/fullcalendar-api/lib/main.min.css'>
    <script type ='text/javascript' src='/javascript/jquery.js'></script>
    <script type ='text/javascript' src='/javascript/moment.js'></script>
    <script type ='text/javascript' src='/javascript/moment.js'></script>
    <script type ='text/javascript' src='/fullcalendar-api/lib/main.min.js'></script>
    <script type ='text/javascript'src='/semantic/dist/semantic.js'></script>
</head>
<body>

<div class = "ui padded grid">
<span class="ui card eight wide column" style = "height: 550px; overflow-y: scroll; margin: 20px">
<table class="ui celled table" id = "account_table" style = "height: 550px;">

    <div class = 'ui button blue' onclick="showAddForm()"><i class="right link plus icon"></i> Add Account</div>
  <thead>
    <tr><th>Username</th>
    <th>Account Type</th>
  </tr></thead>
  <tbody>
    {{#each account}}
    <tr>
      <td data-label="Username">{{username}}</td>
      <td data-label="Account Type">{{accountType}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</span>

<span class="ui card four wide column" style = "height: 550px; margin-left: 20px;overflow-y: scroll; ">
    <span class="ui content list">
        <div class="header">Doctors</div>
            {{#each doctor}}
                <div class="ui divider item" id = "{{name}}">{{name}}</div>
            {{/each}}
        </span>
        <span class="ui content list">
            <div class="header">Process</div>
                {{#each process}}
                        <div class="ui divider item" id="{{name}}">{{name}}</div>
                {{/each}}
        </span>
</span>
</div>
<div class = "ui padded grid">
<span class="ui card sixteen wide column" style = "margin: 20px">
<table class="ui celled table" id = "app_table">
  <thead><tr>
    <th>Patient Name</th>
    <th>User Account</th>
    <th>Doctor</th>
    <th>Procedure</th>
    <th>Date Time</th>
    <th>Status</th>
    <th>Notes</th>
  </tr></thead>
  <tbody>
       {{#each appointment}}
    <tr>
      <td data-label="Name">{{lastname}}, {{firstname}}</td>
      <td data-label="User Account">{{patient}}</td>
      <td data-label="Doctor">{{#each doctor}} Dr. {{name}} {{/each}}</td>
      <td data-label="Process">{{#each process}} {{name}}  {{/each}}</td>
      <td data-label="Date Time">{{date}} : {{time}}</td>
      <td data-label="Status">{{status}}</td>
      <td data-label="notes">{{notes}}</td>
    </tr>
     {{/each}}
  </tbody>
</table>

</span>
</div>

</body>

   <form id = "frmCreate" class = "ui centered ui modal small form" onsubmit= "return false">
        <div class="ui content">
            <div class="field" id="fieldUsername">
                <label>Username</label>
                <input class ="inputfield" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="field" id="fieldPassword">
                <label>Password</label>
                <input  class ="inputfield" type="password" name="password" id="password" placeholder="Password">
            </div>
			<div class="field" id="fieldRole">
				<label>Role</label>
				<select class="inputField required"  name="accountType" id="accountType">
					<option value="patient">Patient</option>
					<option value="secretary">Secretary</option>
				</select>
			</div>
            <div class="ui negative message" id = 'msgError' hidden = "true">
            
            </div>
            <div class="ui grid"><div class="actions column">
            <div type = "submit" id = "btn-create" value = "Create" class="ui primary positive right floated button fluid">
                Create
            </div>
            </div></div>
        </div>
    </form>

</html>

<script>
    let view = $("#frmCreate")
    let form_rules = {fields:{
    username: 'empty',
    password: 'empty',
    accountType: 'empty',
    }}
   
   view.form(form_rules);
    function submit(){
        if(!view.form('validate form')) 
            return false;
        else{
            $.post("/addaccount", $("form").serializeArray()).always((res)=>{
                console.log(res.responseJSON)
                if(res.responseJSON.message != "Success"){
                    if(res.responseJSON.errors){
                        $(".negative").show()
                        $(".negative").html(JSON.stringify(res.responseJSON.errors[0].msg))
                    }else if(res.responseJSON.message){
                    
                        $(".negative").show()
                        $(".negative").html(JSON.stringify(res.responseJSON.message))
                    }
                }else{
                    $("#frmCreate").form("clear")
                    $("#frmCreate").modal("hide")
                    location.reload();
                }
            })
            return false
        }
    }
    function showAddForm(){
         $(".negative").hide()
        $("#frmCreate").form("clear")
        $("#frmCreate").modal("show")
    }
    view.modal({onApprove: submit})
</script>
